<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO"/>
    <jmxConfigurator/>

    <!-- 定义日志文件 输入位置 -->
    <configuration>
        <property name="LOG_PATTERN" value="%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    </configuration>

    <configuration>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <!-- 按照上面配置的LOG_PATTERN来打印日志 -->
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
    </configuration>

    <configuration>
        <logger name="com.hbr" level="INFO" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </configuration>

</configuration>